.container{
    max-width: 800px;
    padding: 80px 0;
    margin: auto;
}
.avatar{
    height: 450px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 6px;
margin-bottom: 80px;
}

.body{
    border-top: 1px solid #E5E5E5;
    padding: 48px 0;
}
.title h5{
    font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 40px;
}
.content p{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.editButton{
    height: 40px;


background: #EEF2FF;
border-radius: 6px;
color: #6366F1;
padding: 0 16px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}

.deleteButton{
    height: 40px;


background: #DC2626;
border-radius: 6px;
color: white;
padding: 0 16px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}