.signup{
height: 40px;


background: #EEF2FF;
border-radius: 6px;
color: #6366F1;
padding: 0 16px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}
.signin{
height: 40px;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: white;
background: #6366F1;
border-radius: 6px;
padding: 0 16px;

}