.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm {
    width: 447px;
}
.formHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContent div {
    margin-bottom: 24px;
    width: 100%;
    position: relative;
}
.formContent div input {
    margin-bottom: 0;
    box-sizing: border-box;

    width: 100%;
    height: 50px;
    padding: 0px 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: gray;
    border-radius: 5px;
    border: 2px solid #545f7d26;
}
.formContent div input::placeholder {
    color: rgba(gray, 0.6);
  }
  .passwordInput {
    display: flex;
    align-items: center;
    position: relative;
   
  }
  .passwordInput  button {
    cursor: pointer;
            position: absolute;
            right: 1rem;
  }
  .haveAnAccount {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    text-align: center;
    
    /* Primary/500 (Main) */
    
    color: #6366F1;
       
  }
  .haveAnAccount a {
    cursor: pointer;
    -webkit-text-fill-color: #6366F1;

  }
  .loginButton{
width: 100%;
  }
 .loginButton button {
    height: 48px;
    
    background-color: #6366F1;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 5px;
  }